dist/foodlist.html
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="" property="og:title" />
    <meta content="" property="og:site_name" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:description" />
    <meta content="" property="og:type" />
    <meta content="" property="fb:admins" />
    <title>兆豐農場溫泉渡假村</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 10]>
    <link href="assets/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/js/plugin.js"></script>
  </head>
</html>
<body>
  <header class="cn">
    <div class="logo__mobile"></div>
    <div class="menuToggle">
      <span></span>
    </div>
    <nav>
      <ul class="left">
        <li class="news nh">
          <a href="javascript:void(0)">飯店消息</a>
          <div class="sub">
            <div class="si">
              <a href="newslist.html">最新消息</a>
            </div>
            <div class="si">
              <a href="newslist.html">活動花絮</a>
            </div>
          </div>
        </li>
        <li>
          <a href="roomlist.html">房型介紹</a>
        </li>
        <li class="active">
          <a href="foodlist.html">餐飲美食</a>
        </li>
        <li class="spa">
          <a href="spa.html">二子山溫泉</a>
        </li>
      </ul>
      <ul class="mid">
        <li class="logo nh">
          <a href="index.html"><img alt="" src="assets/images/icon_logo_index.png" /></a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="foodlist.html">環境設施</a>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">關於我們</a>
          <div class="sub">
            <div class="si">
              <a href="#">拓荒史</a>
            </div>
            <div class="si">
              <a href="#">交通方式</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">渡假飯店</a>
          <div class="sub">
            <div class="si">
              <a href="#">渡假飯店</a>
            </div>
            <div class="si">
              <a href="#">農場園區</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">繁</a>
          <div class="sub">
            <div class="si">
              <a href="#">繁</a>
            </div>
            <div class="si">
              <a href="#">簡</a>
            </div>
            <div class="si">
              <a href="#">JP</a>
            </div>
            <div class="si">
              <a href="#">EN</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="float__banner">
    <div class="booking">
      <a href="#">booking</a>
    </div>
    <div class="events">
      <a href="#">events</a>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="roomlist">
      <div class="room" data-page="Food">
        <div class="all">
          <div class="image">
            <img src="assets/images/sample_food.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="left_div">
            <div class="info">
              <h4 class="title">
                <span>豐年宴會廳 </span>
                <div class="line"></div>
              </h4>
              <div class="content">
                豐年廳是我們農場的大型宴會廳，提供早、中、晚餐，為您準備農場栽培之蔬果料理、花蓮當地特殊食材及特色山產，菜餚清爽鮮美，有別於一般大魚大肉的膩味，呈現花蓮特有、天然深山清溪的色、香、味。豐年廳裝潢充滿濃濃的原住民風味，空間寬敞舒適，讓您隨時都能感受到溫暖的陽光以及開闊的視野，外面並有噴水池的設計，緊鄰住宿區荷蘭區，方便住宿客前往。餐廳除了接受團體訂餐，亦提供二至四人、六人之經濟合菜小炒，餐點提供當季時令產出之新鮮蔬果料理，另有主廚設計之特殊菜色，結合原住民烹調技法，加上花蓮原住民慣用之天然食材，讓您輕鬆享受花蓮美食。 
              </div>
              <a class="more load_food" href="foodin.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="room">
        <div class="all">
          <div class="image">
            <img src="assets/images/sample_food02.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="left_div">
            <div class="info">
              <h4 class="title">
                <span>莊園Cafe</span>
                <div class="line"></div>
              </h4>
              <div class="content">
                莊園café是附設在兆豐廳裡的一悠閒咖啡廳，面對大草皮及中央山脈，綠油油的景色讓人感到放鬆，您可以選個喜歡的一隅，怡然啜一口現煮咖啡，讓自己的步調慢下來。營業時間:上午八點至晚上十點，現煮咖啡搭配農場自產鮮乳，農郁香味讓人回味無窮。
              </div>
              <a class="more load_food" href="foodin.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="room">
        <div class="all">
          <div class="image">
            <img src="assets/images/sample_food03.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="left_div">
            <div class="info">
              <h4 class="title">
                <span>星光Live吧</span>
                <div class="line"></div>
              </h4>
              <div class="content">
                兆豐廳亦附設有星光啤酒吧，啤酒吧營業時間為晚上七點至十點半，夏日的夜晚，可與三五好友來此喝杯冰涼的啤酒，聆聽活力四射的原民歌手演奏，隨著旋律手牽手來一段熱情舞蹈，這個夜晚好熱鬧。如要享受仲夏夜的寧靜，也可在星光live吧旁的躺椅小憩片刻，看著天上繁星，良辰美景，好不自在。
              </div>
              <a class="more load_food" href="foodin.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pop_view">
    <div id="loading_div">
      <img alt="" src="assets/images/load.gif" />
    </div>
    <div id="content"></div>
  </div>
  <footer>
    <div class="footer__contact">
      <div class="text">
        <div class="title">
          Shin Kong Chao Feng Ranch & Resort
        </div>
        <div class="title__mobile">
          <span>HARVEST | Ranch</span><img src="assets/images/icon_spa.png" /><span>Resort</span>
        </div>
        <ul>
          <li>
            <span>Tel </span><a href="+88638772666">+886-3-877-2666</a>
          </li>
          <li>
            <span>Fax </span><a href="+88638771556">+886-3-877-1556</a>
          </li>
          <li class="address">
            <a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8035042,121.4556576,18z/data=!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank">
              <p>
                No.20, Yongfu St., Fenglin Township, Hualien Country 975, Taiwan (R.O.C)
              </p>
            </a>
          </li>
        </ul>
        <div class="others">
          <a class="facebook" href="https://www.facebook.com/skcf.ranch/" target="_blank">facebook</a><a class="train" href="http://twtraffic.tra.gov.tw/twrail/" target="_blank">train timetable</a><a class="flight" href="http://www.hulairport.gov.tw/content/schedule/schedule03.aspx" target="_blank">flight schedules</a>
        </div>
        <div class="copyright">
          <p>
            @2015 Shin Kong Chao Feng Ranch & Resort All Right Reserved.
          </p>
        </div>
      </div>
      <div class="map_div">
        <div class="map"></div>
        <div class="image"></div>
      </div>
    </div>
  </footer>
  <script src="assets/js/app.js"></script>
</body>

src/slim/foodlist.slim
include head

-$page_list = "food";
body
  // header
  include header

  .main-wrapper
    .roomlist
      .room data-page="Food"
        .all
          .image
            img src="assets/images/sample_food.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 豐年宴會廳 
                .line
              .content 豐年廳是我們農場的大型宴會廳，提供早、中、晚餐，為您準備農場栽培之蔬果料理、花蓮當地特殊食材及特色山產，菜餚清爽鮮美，有別於一般大魚大肉的膩味，呈現花蓮特有、天然深山清溪的色、香、味。豐年廳裝潢充滿濃濃的原住民風味，空間寬敞舒適，讓您隨時都能感受到溫暖的陽光以及開闊的視野，外面並有噴水池的設計，緊鄰住宿區荷蘭區，方便住宿客前往。餐廳除了接受團體訂餐，亦提供二至四人、六人之經濟合菜小炒，餐點提供當季時令產出之新鮮蔬果料理，另有主廚設計之特殊菜色，結合原住民烹調技法，加上花蓮原住民慣用之天然食材，讓您輕鬆享受花蓮美食。 
              a.more.load_food href="foodin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_food02.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 莊園Cafe
                .line
              .content 莊園café是附設在兆豐廳裡的一悠閒咖啡廳，面對大草皮及中央山脈，綠油油的景色讓人感到放鬆，您可以選個喜歡的一隅，怡然啜一口現煮咖啡，讓自己的步調慢下來。營業時間:上午八點至晚上十點，現煮咖啡搭配農場自產鮮乳，農郁香味讓人回味無窮。
              a.more.load_food href="foodin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_food03.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 星光Live吧
                .line
              .content 兆豐廳亦附設有星光啤酒吧，啤酒吧營業時間為晚上七點至十點半，夏日的夜晚，可與三五好友來此喝杯冰涼的啤酒，聆聽活力四射的原民歌手演奏，隨著旋律手牽手來一段熱情舞蹈，這個夜晚好熱鬧。如要享受仲夏夜的寧靜，也可在星光live吧旁的躺椅小憩片刻，看著天上繁星，良辰美景，好不自在。
              a.more.load_food href="foodin.html" Read More


  // footer
  include footer
