src/slim/home.slim
include head

body
  // header
  include header

  .main-wrapper
    .slidewarp
      .banners
        .items data-cunt="01"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experience
            .content
              | 佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            / .date 2016.01.20
            .line
        .items data-cunt="02"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A worldxperience
            .content
              | 佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            / .date 2016.01.20
            .line
        .items data-cunt="03"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experie & travel experiennce
            .content
              | 佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            / .date 2016.01.20
            .line
        .items data-cunt="04"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experience
            .content
              | 佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            / .date 2016.01.20
            .line
    section.intro
      .info
        .info_div
          h2.title 
            span Netherlands
            .line 
          .content Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
          a.more href="roomin.html" Read More
      .imgs
        figure
          .image.r1
            img src="assets/images/sample_index01.jpg"
            .t_image
              .iline
          .image.r2
            img src="assets/images/sample_index02.jpg"
            .t_image
              .iline
    section.facility
      ul.more_list
        li
          span Facilities
          a.more href="facility.html" Read More
        li
          span Golden Spa
          a.more href="spa.html" Read More
        li
          span Restaurant
          a.more href="route.html" Read More
      .imgs
        .items
          .image
            img src="assets/images/sample_index03.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_goldenspa.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_food00.jpg" alt=""/
            .t_image
              .iline
        .c_dot
          .dot
          .dot
          .dot


  // footer
  include footer

dist/home.html
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="" property="og:title" />
    <meta content="" property="og:site_name" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:description" />
    <meta content="" property="og:type" />
    <meta content="" property="fb:admins" />
    <title>兆豐農場溫泉渡假村</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 10]>
    <link href="assets/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/js/plugin.js"></script>
  </head>
</html>
<body>
  <header class="cn">
    <div class="logo__mobile"></div>
    <div class="menuToggle">
      <span></span>
    </div>
    <nav>
      <ul class="left">
        <li class="news nh">
          <a href="javascript:void(0)">飯店消息</a>
          <div class="sub">
            <div class="si">
              <a href="newslist.html">最新消息</a>
            </div>
            <div class="si">
              <a href="newslist.html">活動花絮</a>
            </div>
          </div>
        </li>
        <li>
          <a href="roomlist.html">房型介紹</a>
        </li>
        <li>
          <a href="foodlist.html">餐飲美食</a>
        </li>
        <li class="spa">
          <a href="spa.html">二子山溫泉</a>
        </li>
      </ul>
      <ul class="mid">
        <li class="logo nh">
          <a href="index.html"><img alt="" src="assets/images/icon_logo_index.png" /></a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="foodlist.html">環境設施</a>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">關於我們</a>
          <div class="sub">
            <div class="si">
              <a href="#">拓荒史</a>
            </div>
            <div class="si">
              <a href="#">交通方式</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">渡假飯店</a>
          <div class="sub">
            <div class="si">
              <a href="#">渡假飯店</a>
            </div>
            <div class="si">
              <a href="#">農場園區</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">繁</a>
          <div class="sub">
            <div class="si">
              <a href="#">繁</a>
            </div>
            <div class="si">
              <a href="#">簡</a>
            </div>
            <div class="si">
              <a href="#">JP</a>
            </div>
            <div class="si">
              <a href="#">EN</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="float__banner">
    <div class="booking">
      <a href="#">booking</a>
    </div>
    <div class="events">
      <a href="#">events</a>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="slidewarp">
      <div class="banners">
        <div class="items" data-cunt="01">
          <img src="assets/images/sample_slideindex.jpg" />
          <div class="img_title">
            <div class="c">
              A world-class life & travel experience
            </div>
            <div class="content">
              佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            </div>
            <div class="line"></div>
          </div>
        </div>
        <div class="items" data-cunt="02">
          <img src="assets/images/sample_slideindex.jpg" />
          <div class="img_title">
            <div class="c">
              A worldxperience
            </div>
            <div class="content">
              佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            </div>
            <div class="line"></div>
          </div>
        </div>
        <div class="items" data-cunt="03">
          <img src="assets/images/sample_slideindex.jpg" />
          <div class="img_title">
            <div class="c">
              A world-class life & travel experie & travel experiennce
            </div>
            <div class="content">
              佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            </div>
            <div class="line"></div>
          </div>
        </div>
        <div class="items" data-cunt="04">
          <img src="assets/images/sample_slideindex.jpg" />
          <div class="img_title">
            <div class="c">
              A world-class life & travel experience
            </div>
            <div class="content">
              佇足在每一分每一秒的當下，享受每一刻每次呼吸的快哉
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="intro">
      <div class="info">
        <div class="info_div">
          <h2 class="title">
            <span>Netherlands</span>
            <div class="line"></div>
          </h2>
          <div class="content">
            Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
          </div>
          <a class="more" href="roomin.html">Read More</a>
        </div>
      </div>
      <div class="imgs">
        <figure>
          <div class="image r1">
            <img src="assets/images/sample_index01.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image r2">
            <img src="assets/images/sample_index02.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
        </figure>
      </div>
    </section>
    <section class="facility">
      <ul class="more_list">
        <li>
          <span>Facilities</span><a class="more" href="facility.html">Read More</a>
        </li>
        <li>
          <span>Golden Spa</span><a class="more" href="spa.html">Read More</a>
        </li>
        <li>
          <span>Restaurant</span><a class="more" href="route.html">Read More</a>
        </li>
      </ul>
      <div class="imgs">
        <div class="items">
          <div class="image">
            <img alt="" src="assets/images/sample_index03.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_goldenspa.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_food00.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
        </div>
        <div class="c_dot">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </section>
  </div>
  <div id="pop_view">
    <div id="loading_div">
      <img alt="" src="assets/images/load.gif" />
    </div>
    <div id="content"></div>
  </div>
  <footer>
    <div class="footer__contact">
      <div class="text">
        <div class="title">
          Shin Kong Chao Feng Ranch & Resort
        </div>
        <div class="title__mobile">
          <span>HARVEST | Ranch</span><img src="assets/images/icon_spa.png" /><span>Resort</span>
        </div>
        <ul>
          <li>
            <span>Tel </span><a href="+88638772666">+886-3-877-2666</a>
          </li>
          <li>
            <span>Fax </span><a href="+88638771556">+886-3-877-1556</a>
          </li>
          <li class="address">
            <a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8035042,121.4556576,18z/data=!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank">
              <p>
                No.20, Yongfu St., Fenglin Township, Hualien Country 975, Taiwan (R.O.C)
              </p>
            </a>
          </li>
        </ul>
        <div class="others">
          <a class="facebook" href="https://www.facebook.com/skcf.ranch/" target="_blank">facebook</a><a class="train" href="http://twtraffic.tra.gov.tw/twrail/" target="_blank">train timetable</a><a class="flight" href="http://www.hulairport.gov.tw/content/schedule/schedule03.aspx" target="_blank">flight schedules</a>
        </div>
        <div class="copyright">
          <p>
            @2015 Shin Kong Chao Feng Ranch & Resort All Right Reserved.
          </p>
        </div>
      </div>
      <div class="map_div">
        <div class="map"></div>
        <div class="image"></div>
      </div>
    </div>
  </footer>
  <script src="assets/js/app.js"></script>
</body>
