dist/news_in02.html
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="" property="og:title" />
    <meta content="" property="og:site_name" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:description" />
    <meta content="" property="og:type" />
    <meta content="" property="fb:admins" />
    <title>兆豐農場溫泉渡假村</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 10]>
    <link href="assets/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/js/plugin.js"></script>
  </head>
</html>
<body>
  <header class="cn">
    <div class="logo__mobile"></div>
    <div class="menuToggle">
      <span></span>
    </div>
    <nav>
      <ul class="left">
        <li class="news nh active">
          <a href="javascript:void(0)">飯店消息</a>
          <div class="sub">
            <div class="si">
              <a href="newslist.html">最新消息</a>
            </div>
            <div class="si">
              <a href="newslist.html">活動花絮</a>
            </div>
          </div>
        </li>
        <li>
          <a href="roomlist.html">房型介紹</a>
        </li>
        <li>
          <a href="foodlist.html">餐飲美食</a>
        </li>
        <li class="spa">
          <a href="spa.html">二子山溫泉</a>
        </li>
      </ul>
      <ul class="mid">
        <li class="logo nh">
          <a href="index.html"><img alt="" src="assets/images/icon_logo_index.png" /></a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="foodlist.html">環境設施</a>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">關於我們</a>
          <div class="sub">
            <div class="si">
              <a href="#">拓荒史</a>
            </div>
            <div class="si">
              <a href="#">交通方式</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">渡假飯店</a>
          <div class="sub">
            <div class="si">
              <a href="#">渡假飯店</a>
            </div>
            <div class="si">
              <a href="#">農場園區</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">繁</a>
          <div class="sub">
            <div class="si">
              <a href="#">繁</a>
            </div>
            <div class="si">
              <a href="#">簡</a>
            </div>
            <div class="si">
              <a href="#">JP</a>
            </div>
            <div class="si">
              <a href="#">EN</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="float__banner">
    <div class="booking">
      <a href="#">booking</a>
    </div>
    <div class="events">
      <a href="#">events</a>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="news_in in02">
      <div class="left_img">
        <div class="slide_div">
          <div class="image">
            <img alt="" src="assets/images/sample_newsin.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_newsin.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_newsin.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_newsin.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right_info">
        <div class="content">
          <h2 class="title">
            <span>【笠畫廊】曹小容油畫個展 2016.4.2-6.26</span>
            <div class="line"></div>
          </h2>
          <div class="attr">
            <div class="date">
              2016/04/07
            </div>
            <div class="type">
              活動花絮 
            </div>
          </div>
          <div class="info">
            開幕茶會：2016.4.2 下午14：00<br>地點：笠畫廊(新光兆豐休閒農場遊客中心二樓)<br>花蓮縣鳳林鎮林榮里永福街20號<br>開放時間： 8:00-17:00 (每日)<br>連絡電話：03-8772666#1189<br><br>位於新光兆豐休閒農場的笠畫廊，將於4/2（週六）起，展出在地藝術家曹小容的油畫作品個展「回憶，時光」。展期為期三個月，至6/26日截止。<br>本次展出作品，以藝術家於2013-2016年間所創作的作品為主，總共有十六幅，其中包括一件兩百號的大型作品，以及三件百號大作，新作如100號大型作品『熱情』和2016年的數件小品，都是第一次展出。<br>曹小容的作品，從女性身體意識出發，連結抽象與半抽象技法，表達內在深層情感與生命力量。在她的畫作裡，女性的圖像有時具體可見，有時與大地或象徵生命力的山海意象或花葉，雲朵蝴蝶等簡化後的圖像交融在一起，甚或隱沒其中；在幽微或依稀可以辨識的形貌中，展現女性的柔美，細緻，同時賦予強大的內在能量。<br>在曹小容的畫作裡，色彩扮演著重要角色。明亮而層次豐富的色彩，搭配柔美而靈動的線條筆觸，不僅賞心悅目，也使得觀畫者，直接感受能量的提升。一走進展間，視線立刻為兩百號的大作「夏天的故事」所吸引，藍色調所呈現的海洋天空，彷彿預告著即將來臨的夏天。「女性，聖母」以金色光環，以及由大地湧現出來並纏繞著植物葉片般的臍帶狀物，來訴說女性與大地之母的神話聯繫。同樣是百號作品，「熱情」以亮麗而通透的紅色系，被拆解而重複出現的女體，自亮綠水中升起，散發出生命熱力。其餘，如「青春懷想」「夢中飛翔」「等待」各以不同的抽象女體，訴說著生命不同階段的內在情感與想像。2015下半年的「心裡流動的一首歌」「星空下的戀人」以及2016年的新作品「希望樹」「奇異的旅程」「意識與象徵」則是在筆觸和色彩的處理上，探索下一階段的發展。<br>笠畫廊由新光兆豐農場設立，地點在農場遊客中心二樓。自一年前成立以來，已經舉辦過多次展覽，為花蓮縣壽豐以南地區，帶來不少藝文風采。<br>本次展覽，將於4/2（週六）下午兩點舉辦開幕茶會，歡迎各界愛好藝文人士，前往參觀。展期開放時間為每日上午八點至下午五點。
          </div>
          <div class="cont_btn">
            <div class="pre"></div>
            <div class="next"></div>
          </div>
        </div>
      </div>
      <div class="other">
        <h5 class="other_title">
          其他消息
        </h5>
        <div class="news_list">
          <div class="item">
            <div class="imgg">
              <img alt="" src="assets/images/sample_newslist.jpg" />
            </div>
            <div class="attr">
              <div class="date">
                2015.12.18
              </div>
              <div class="type">
                最新消息
              </div>
            </div>
            <div class="title">
              時光隧道-照片徵件活動評選結果
            </div>
            <a class="more" href="news_in.html">Read More</a>
          </div>
          <div class="item">
            <div class="imgg">
              <img alt="" src="assets/images/sample_newslist.jpg" />
            </div>
            <div class="attr">
              <div class="date">
                2015.12.18
              </div>
              <div class="type">
                最新消息
              </div>
            </div>
            <div class="title">
              時光隧道-照片徵件活動評選結果
            </div>
            <a class="more" href="news_in.html">Read More</a>
          </div>
          <div class="item">
            <div class="imgg">
              <img alt="" src="assets/images/sample_newslist.jpg" />
            </div>
            <div class="attr">
              <div class="date">
                2015.12.18
              </div>
              <div class="type">
                最新消息
              </div>
            </div>
            <div class="title">
              時光隧道-照片徵件活動評選結果
            </div>
            <a class="more" href="news_in.html">Read More</a>
          </div>
          <div class="item">
            <div class="imgg">
              <img alt="" src="assets/images/sample_newslist.jpg" />
            </div>
            <div class="attr">
              <div class="date">
                2015.12.18
              </div>
              <div class="type">
                最新消息
              </div>
            </div>
            <div class="title">
              時光隧道-照片徵件活動評選結果
            </div>
            <a class="more" href="news_in.html">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pop_view">
    <div id="loading_div">
      <img alt="" src="assets/images/load.gif" />
    </div>
    <div id="content"></div>
  </div>
  <footer>
    <div class="footer__contact">
      <div class="text">
        <div class="title">
          Shin Kong Chao Feng Ranch & Resort
        </div>
        <div class="title__mobile">
          <span>HARVEST | Ranch</span><img src="assets/images/icon_spa.png" /><span>Resort</span>
        </div>
        <ul>
          <li>
            <span>Tel </span><a href="+88638772666">+886-3-877-2666</a>
          </li>
          <li>
            <span>Fax </span><a href="+88638771556">+886-3-877-1556</a>
          </li>
          <li class="address">
            <a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8035042,121.4556576,18z/data=!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank">
              <p>
                No.20, Yongfu St., Fenglin Township, Hualien Country 975, Taiwan (R.O.C)
              </p>
            </a>
          </li>
        </ul>
        <div class="others">
          <a class="facebook" href="https://www.facebook.com/skcf.ranch/" target="_blank">facebook</a><a class="train" href="http://twtraffic.tra.gov.tw/twrail/" target="_blank">train timetable</a><a class="flight" href="http://www.hulairport.gov.tw/content/schedule/schedule03.aspx" target="_blank">flight schedules</a>
        </div>
        <div class="copyright">
          <p>
            @2015 Shin Kong Chao Feng Ranch & Resort All Right Reserved.
          </p>
        </div>
      </div>
      <div class="map_div">
        <div class="map"></div>
        <div class="image"></div>
      </div>
    </div>
  </footer>
  <script src="assets/js/app.js"></script>
</body>

src/slim/news_in02.slim
include head

-$page_list = "news";
body
  // header
  include header

  .main-wrapper
    .news_in.in02
      .left_img
        .slide_div
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
      .right_info
        .content
          h2.title 
              span 【笠畫廊】曹小容油畫個展 2016.4.2-6.26
              .line
          .attr
            .date 2016/04/07
            .type 活動花絮 
          .info 開幕茶會：2016.4.2 下午14：00<br>地點：笠畫廊(新光兆豐休閒農場遊客中心二樓)<br>花蓮縣鳳林鎮林榮里永福街20號<br>開放時間： 8:00-17:00 (每日)<br>連絡電話：03-8772666#1189<br><br>位於新光兆豐休閒農場的笠畫廊，將於4/2（週六）起，展出在地藝術家曹小容的油畫作品個展「回憶，時光」。展期為期三個月，至6/26日截止。<br>本次展出作品，以藝術家於2013-2016年間所創作的作品為主，總共有十六幅，其中包括一件兩百號的大型作品，以及三件百號大作，新作如100號大型作品『熱情』和2016年的數件小品，都是第一次展出。<br>曹小容的作品，從女性身體意識出發，連結抽象與半抽象技法，表達內在深層情感與生命力量。在她的畫作裡，女性的圖像有時具體可見，有時與大地或象徵生命力的山海意象或花葉，雲朵蝴蝶等簡化後的圖像交融在一起，甚或隱沒其中；在幽微或依稀可以辨識的形貌中，展現女性的柔美，細緻，同時賦予強大的內在能量。<br>在曹小容的畫作裡，色彩扮演著重要角色。明亮而層次豐富的色彩，搭配柔美而靈動的線條筆觸，不僅賞心悅目，也使得觀畫者，直接感受能量的提升。一走進展間，視線立刻為兩百號的大作「夏天的故事」所吸引，藍色調所呈現的海洋天空，彷彿預告著即將來臨的夏天。「女性，聖母」以金色光環，以及由大地湧現出來並纏繞著植物葉片般的臍帶狀物，來訴說女性與大地之母的神話聯繫。同樣是百號作品，「熱情」以亮麗而通透的紅色系，被拆解而重複出現的女體，自亮綠水中升起，散發出生命熱力。其餘，如「青春懷想」「夢中飛翔」「等待」各以不同的抽象女體，訴說著生命不同階段的內在情感與想像。2015下半年的「心裡流動的一首歌」「星空下的戀人」以及2016年的新作品「希望樹」「奇異的旅程」「意識與象徵」則是在筆觸和色彩的處理上，探索下一階段的發展。<br>笠畫廊由新光兆豐農場設立，地點在農場遊客中心二樓。自一年前成立以來，已經舉辦過多次展覽，為花蓮縣壽豐以南地區，帶來不少藝文風采。<br>本次展覽，將於4/2（週六）下午兩點舉辦開幕茶會，歡迎各界愛好藝文人士，前往參觀。展期開放時間為每日上午八點至下午五點。
          .cont_btn
            .pre
            .next
      include news_other
  // footer
  include footer
