dist/spa.html
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="" property="og:title" />
    <meta content="" property="og:site_name" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:description" />
    <meta content="" property="og:type" />
    <meta content="" property="fb:admins" />
    <title>兆豐農場溫泉渡假村</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 10]>
    <link href="assets/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/js/plugin.js"></script>
  </head>
</html>
<body>
  <header class="cn">
    <div class="logo__mobile"></div>
    <div class="menuToggle">
      <span></span>
    </div>
    <nav>
      <ul class="left">
        <li class="news nh">
          <a href="javascript:void(0)">飯店消息</a>
          <div class="sub">
            <div class="si">
              <a href="newslist.html">最新消息</a>
            </div>
            <div class="si">
              <a href="newslist.html">活動花絮</a>
            </div>
          </div>
        </li>
        <li>
          <a href="roomlist.html">房型介紹</a>
        </li>
        <li>
          <a href="foodlist.html">餐飲美食</a>
        </li>
        <li class="spa active">
          <a href="spa.html">二子山溫泉</a>
        </li>
      </ul>
      <ul class="mid">
        <li class="logo nh">
          <a href="index.html"><img alt="" src="assets/images/icon_logo_index.png" /></a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="foodlist.html">環境設施</a>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">關於我們</a>
          <div class="sub">
            <div class="si">
              <a href="#">拓荒史</a>
            </div>
            <div class="si">
              <a href="#">交通方式</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">渡假飯店</a>
          <div class="sub">
            <div class="si">
              <a href="#">渡假飯店</a>
            </div>
            <div class="si">
              <a href="#">農場園區</a>
            </div>
          </div>
        </li>
        <li class="news nh">
          <a href="javascript:void(0)">繁</a>
          <div class="sub">
            <div class="si">
              <a href="#">繁</a>
            </div>
            <div class="si">
              <a href="#">簡</a>
            </div>
            <div class="si">
              <a href="#">JP</a>
            </div>
            <div class="si">
              <a href="#">EN</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="float__banner">
    <div class="booking">
      <a href="#">booking</a>
    </div>
    <div class="events">
      <a href="#">events</a>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="spa" id="scroll_cont">
      <div class="left_img sc">
        <div class="slide_div">
          <div class="image">
            <img alt="" src="assets/images/sample_goldenspa.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_goldenspa.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_goldenspa.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
          <div class="image">
            <img alt="" src="assets/images/sample_goldenspa.jpg" />
            <div class="t_image">
              <div class="iline"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right_info sc">
        <div class="content">
          <div class="main_top">
            <div class="title">
              <span>二子山溫泉SPA</span>
              <div class="line"></div>
            </div>
            <div class="text">
              搖一勺，溫潤滑過肌膚，熱度滲入肌理，暖了身；浸一刻，純粹滋味，體會真滋味。泉質白霧中的呼吸與溫度，瀰漫著大自然芬多精，一夜好眠。
            </div>
            <a class="download" href="#">Download Map</a>
          </div>
          <div class="bottom_div">
            <div class="item">
              <div class="i_title">
                溫泉使用注意須知
              </div>
              <div class="info">
                <ul>
                  <li>
                    患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
                                          li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
                                          li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
                                          li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
                                          li 露天天體浴池為男女分池，僅限裸體泡溫泉。
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                溫泉使用注意須知
              </div>
              <div class="info">
                <ul>
                  <li>
                    患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
                                          li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
                                          li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
                                          li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
                                          li 露天天體浴池為男女分池，僅限裸體泡溫泉。
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                水質介紹
              </div>
              <div class="info">
                源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                溫泉使用注意須知
              </div>
              <div class="info">
                <ul>
                  <li>
                    患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
                                          li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
                                          li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
                                          li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
                                          li 露天天體浴池為男女分池，僅限裸體泡溫泉。
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                水質介紹
              </div>
              <div class="info">
                源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                溫泉使用注意須知
              </div>
              <div class="info">
                <ul>
                  <li>
                    患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
                  </li>
                  <li>
                    有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
                                          li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
                                          li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
                                          li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
                                          li 露天天體浴池為男女分池，僅限裸體泡溫泉。
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="i_title">
                水質介紹
              </div>
              <div class="info">
                源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pop_view">
    <div id="loading_div">
      <img alt="" src="assets/images/load.gif" />
    </div>
    <div id="content"></div>
  </div>
  <footer>
    <div class="footer__contact">
      <div class="text">
        <div class="title">
          Shin Kong Chao Feng Ranch & Resort
        </div>
        <div class="title__mobile">
          <span>HARVEST | Ranch</span><img src="assets/images/icon_spa.png" /><span>Resort</span>
        </div>
        <ul>
          <li>
            <span>Tel </span><a href="+88638772666">+886-3-877-2666</a>
          </li>
          <li>
            <span>Fax </span><a href="+88638771556">+886-3-877-1556</a>
          </li>
          <li class="address">
            <a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8035042,121.4556576,18z/data=!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank">
              <p>
                No.20, Yongfu St., Fenglin Township, Hualien Country 975, Taiwan (R.O.C)
              </p>
            </a>
          </li>
        </ul>
        <div class="others">
          <a class="facebook" href="https://www.facebook.com/skcf.ranch/" target="_blank">facebook</a><a class="train" href="http://twtraffic.tra.gov.tw/twrail/" target="_blank">train timetable</a><a class="flight" href="http://www.hulairport.gov.tw/content/schedule/schedule03.aspx" target="_blank">flight schedules</a>
        </div>
        <div class="copyright">
          <p>
            @2015 Shin Kong Chao Feng Ranch & Resort All Right Reserved.
          </p>
        </div>
      </div>
      <div class="map_div">
        <div class="map"></div>
        <div class="image"></div>
      </div>
    </div>
  </footer>
  <script src="assets/js/app.js"></script>
</body>

src/slim/spa.slim
include head

-$page_list = "spa";
body
  // header
  include header

  .main-wrapper
  	.spa#scroll_cont
	    .left_img.sc
          .slide_div
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
	    .right_info.sc
	    	.content
	    		.main_top
	    			.title 
	    				span 二子山溫泉SPA
	    				.line
	    			.text 搖一勺，溫潤滑過肌膚，熱度滲入肌理，暖了身；浸一刻，純粹滋味，體會真滋味。泉質白霧中的呼吸與溫度，瀰漫著大自然芬多精，一夜好眠。
	    			a.download href="#" Download Map
	    		.bottom_div
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。


  // footer
  include footer
